nav > div:nth-child(1) > div:nth-child(1) {
  /*sephora logo link */
  width: 12%;
  /* margin: 2%; */
}
nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
nav > div:nth-child(1) {
  /* search box row */
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
nav > div > div {
  cursor: pointer;
}
nav > div:nth-child(1) > div:nth-child(2) {
  /* search box div*/
  width: 36%;
  /* margin: 0.5%; */
}
nav > div:nth-child(1) > div:nth-child(2) > input {
  /* search box*/
  /* border to be romoved later */
  width: 100%;
  height: 30px;
  border-radius: 14px;
  background-color: rgb(246, 246, 248);
  border: none;
}

nav > div:nth-child(1) > div:nth-child(3) {
  /*stores and services */
  width: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 2%; */
}
nav > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
  font-size: 12px;
}
nav > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p {
  margin: 0px;
}
nav > div:nth-child(1) > div:nth-child(4) {
  /* targetting community  */
  display: flex;
  flex-direction: row;
  width: 8%;
  justify-content: space-between;
}
nav > div:nth-child(1) p {
  margin: 0px;
}
nav > div:nth-child(1) > div:nth-child(5) {
  /* sign in */
  display: flex;
  flex-direction: row;
  width: 6%;
  justify-content: space-between;
  /* margin: 3%; */
}
nav > div:nth-child(1) > div:nth-child(6) {
  /* heart shape */
  width: 2%;
}
nav > div:nth-child(1) > div:nth-child(6) img {
  /* heart shape */
  width: 100%;
}
nav > div:nth-child(1) > div:nth-child(7) {
  /* basket */
  width: 2%;
  /* margin: 2%; */
}
nav > div:nth-child(1) > div:nth-child(7) img {
  /* basket */
  width: 100%;
}

nav > div:nth-child(2) {
  /* categories */
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
nav > div:nth-child(2) a {
  color: white;
  text-decoration: none;
}
