nav > div:nth-child(1) > div:nth-child(1) {
  /*sephora logo link */
  width: 12%;
  /* margin: 2%; */
}
nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
nav > div:nth-child(1) {
  /* search box row */
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
nav > div > div {
  cursor: pointer;
}
nav > div:nth-child(1) > div:nth-child(2) {
  /* search box div*/
  width: 36%;
  /* margin: 0.5%; */
}
nav > div:nth-child(1) > div:nth-child(2) > input {
  /* search box*/
  /* border to be romoved later */
  width: 100%;
  height: 30px;
  border-radius: 14px;
  background-color: rgb(246, 246, 248);
  border: none;
}

nav > div:nth-child(1) > div:nth-child(3) {
  /*stores and services */
  width: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 2%; */
}
nav > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
  font-size: 12px;
}
nav > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p {
  margin: 0px;
}
nav > div:nth-child(1) > div:nth-child(4) {
  /* targetting community  */
  display: flex;
  flex-direction: row;
  width: 8%;
  justify-content: space-between;
}
nav > div:nth-child(1) p {
  margin: 0px;
}
nav > div:nth-child(1) > div:nth-child(5) {
  /* sign in */
  /* margin: 3%; */
  display: flex;
  flex-direction: row;
  width: 6%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  font-style: italic;
  position: relative;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 600px;
  position: absolute;
  right: -120px;
  top: 120%;
  background: #ffffff;
  padding: 10px 0;
  border-radius: 10px;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu::-webkit-scrollbar {
  width: 6px;
}
nav
  > div:nth-child(1)
  > div:nth-child(5)
  > div
  .sub_menu::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}
nav > div:nth-child(1) > div:nth-child(5) > div:hover .sub_menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .menu-items {
  display: block;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .menu-items a {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  transition: all 0.3s ease;
  align-items: center;
  border-top: 1px solid #eee;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .menu-items a img {
  margin-right: 10px;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .beautyInsider a img {
  
  margin-left: 70px;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtnLogo a,
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn a{
 
  border-top: none;
  text-decoration: none;
}nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn{
  display: flex;
text-align: center;}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn button:nth-child(1){
  background: black;
  color: white;
  font-weight: 500;
  border: none;
  width: 140px;
  padding: 10px 0px;
  border-radius: 25px;
  margin: 0px 8px;
  text-decoration: none;
  cursor: pointer;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn button:nth-child(1):hover,
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn button:nth-child(2):hover{
  opacity: 0.5;
  text-decoration: none;
  transition: all 0.3s ease;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .signinBtn button:nth-child(2){
  background: none;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  width: 145px;
  padding: 8px 0px;
  border-radius: 25px;
  margin: 0px 8px;
  cursor: pointer;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .menu-items a p {
  color: gray;
  font-size: 13px;
  padding: 2px 0px;
}
nav > div:nth-child(1) > div:nth-child(5) > div .sub_menu .menu-items a:hover {
  text-decoration: underline;
}
nav > div:nth-child(1) > div:nth-child(5) .pop{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 10px;
}

nav > div:nth-child(1) > div:nth-child(5) > div > img {
  width: 35px;
}
nav > div:nth-child(1) > div:nth-child(5) > div > img:hover {
  border: 2px solid black;
  border-radius: 50%;
}
/* overeffect on signin menu */
nav > div:nth-child(1) > div:nth-child(5):hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}
/* .signinBtnActive {
  opacity: 60%;
} */
/* #popup_signin {
  position: fixed;
  top: 10%;
  left: 35%;
  transform: translate(-50%-50%);
  width: 400px;
  height: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0);
  background: white;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.signinBtnActivee {
  visibility: visible;
  opacity: 1;
  border: 2px solid red;
  z-index: 1;
} */

nav > div:nth-child(1) > div:nth-child(6) {
  /* heart shape */
  width: 2%;
}
nav > div:nth-child(1) > div:nth-child(6) img {
  /* heart shape */
  width: 100%;
}
nav > div:nth-child(1) > div:nth-child(7) {
  /* basket */
  width: 2%;
  /* margin: 2%; */
}
nav > div:nth-child(1) > div:nth-child(7) img {
  /* basket */
  width: 100%;
}

nav > div:nth-child(2) {
  /* categories */
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
nav > div:nth-child(2) a {
  color: white;
  text-decoration: none;
}
#container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
#beautyMustHaves {
  height: 520px;
  background-color: rgb(193, 207, 195);
  margin-top: 0px;
  text-align: center;
  margin-bottom: 30px;
}
#beautyMustHaves h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  font-family: "Bodoni Moda", serif;
}
#beautyMustHaves h3 {
  margin-top: 10px;
}
#beautyMustHaves > div {
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 300px;
}
#beautyMustHaves > div > a > div > div:nth-child(1) img {
  width: 150px;
}
#beautyMustHaves > div > a > div > div:nth-child(2) img {
  width: 300px;
}
#beautyMustHaves > div > a > div > div:nth-child(2) {
  width: 200px;
}
#beautyMustHaves > div > a > div {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: black;
}
#beautyMustHaves > div > a {
  height: 300px;
  width: 300px;
}
.productList {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  width: 1000px;
  /* background-color: burlywood; */
  margin: auto;
  /* justify-content: space-around; */
  overflow-x: hidden;
  margin-bottom: 50px;
  justify-content: space-around;
}
.productList > div {
  /* width: 150px; */
  /* background-color: blueviolet; */
  /* margin: 3.5%; */
  text-align: center;
  /* width: 300px; */
  width: 12.5%;
  display: none;
  cursor: pointer;
}
.productList > div > div > p {
  font-size: 13px;
  font-weight: 500;
}
.productList > div > div > a > p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
}
.productList p {
  margin: 0px;
}
#container > div:nth-child(3) {
  /* <!-- advertisements images --> */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 82%;
  margin: auto;
  margin-bottom: 40px;
}
#container > div:nth-child(8) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.display {
  display: block !important;
}
.productCont {
  position: relative;
  width: 1100px;
  margin: auto;
}
#nextBtn {
  position: absolute;
  top: 40%;
  right: 0px;
}
#prevBtn {
  position: absolute;
  top: 40%;
  left: 0px;
}
#container button {
  background-color: white;
  color: rgb(8, 8, 8);
  height: 100px;
  font-size: 60px;
  border: none;
  font-weight: lighter;
  cursor: pointer;
}
h2 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
  font-family: "Bodoni Moda", serif;
}
